<%- include('../partials/header') %>
<main>
  <div class="index">
    <div class="one-message-div">
      <p class="msg-user">
        <%= message.username %> <span class="italicized">said</span>
      </p>
      <p class="msg-text"><%= message.text %></p>
      <p class="msg-time"><span class="italicized">on</span> <%= message.added %></p>
    </div>
      <a href="/" class="msg-home">
        <img src="/images/home.svg" alt="Home">
      </a>
  </div>
</main>
<%- include('../partials/footer') %>